################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Projects/.vs/Fs.NetCore/v16
/Projects/Fs.Business/bin/Debug/netcoreapp3.1
/Projects/Fs.Business/obj
/Projects/Fs.Core/bin/Debug/netcoreapp3.1
/Projects/Fs.Core/obj
/Projects/Fs.Data/bin/Debug/netcoreapp3.1
/Projects/Fs.Data/obj
/Projects/.vs/Fs.NetCore/DesignTimeBuild
/Projects/Fs.Angular.Is4/.config/dotnet-tools.json
/Projects/Fs.Angular.Is4/ClientApp/.editorconfig
/Projects/Fs.Business/bin/Release/netcoreapp3.1
/Projects/Fs.Core/bin/Release/netcoreapp3.1
/Projects/Fs.Data/bin/Release/netcoreapp3.1
/Projects/Fs.Api/bin
/Projects/Fs.Api/logs
/Projects/Fs.Api/obj
/Projects/Fs.Console.Client/bin/Debug/netcoreapp3.0
/Projects/Fs.Console.Client/obj
/Projects/.vs/Fs.NetCore/config
/Projects/Fs.Blazor.Is4.Wasm.Client/Client/bin
/Projects/Fs.Blazor.Is4.Wasm.Client/Client/obj
/Projects/Fs.Blazor.Is4.Wasm.Client/Server/bin/Debug/netcoreapp3.1
/Projects/Fs.Blazor.Is4.Wasm.Client/Server/logs
/Projects/Fs.Blazor.Is4.Wasm.Client/Server/obj
/Projects/Fs.Blazor.Wasm.Client/Client/bin/Debug/netstandard2.1
/Projects/Fs.Blazor.Wasm.Client/Client/obj
/Projects/Fs.Blazor.Wasm.Client/Server/bin/Debug/netcoreapp3.1
/Projects/Fs.Blazor.Wasm.Client/Server/logs
/Projects/Fs.Blazor.Wasm.Client/Server/obj
/Projects/Fs.Shared/bin/Debug/netstandard2.1
/Projects/Fs.Shared/obj
/Projects/Fs.Blazor.Is4/bin/Debug/netcoreapp3.1
/Projects/Fs.Blazor.Is4/logs
/Projects/Fs.Blazor.Is4/obj
/Projects/Fs.Blazor.Client/bin
/Projects/Fs.Blazor.Client/logs
/Projects/Fs.Blazor.Client/obj
/Projects/Fs.Is4/bin/Debug/netcoreapp3.0
/Projects/Fs.Is4/logs
/Projects/Fs.Is4/obj
/Projects/Fs.Is4/bin/Debug/netcoreapp3.1
/Projects/Fs.Blazor.Shared/bin/Debug/netstandard2.1
/Projects/Fs.Blazor.Shared/obj
/Projects/Fs.Mvc.Is4/bin/Debug/netcoreapp3.1
/Projects/Fs.Mvc.Is4/logs
/Projects/Fs.Mvc.Is4/obj/Debug/netcoreapp3.1
/Projects/Fs.Mvc.Is4/obj
/Projects/Fs.Mvc.Is4/Fs.Mvc.Is4.csproj.user
/Projects/Fs.Blazor.Is4.Wasm.Client/Server/Fs.Blazor.Is4.Wasm.Client.Server.csproj.user
/Projects/Fs.Blazor.Is4/Fs.Blazor.Is4.csproj.user
/Projects/Fs.Test/bin/Debug/netcoreapp3.1
/Projects/Fs.Test/obj
/Projects/Fs.Blazor.Service/bin/Debug/netcoreapp3.1
/Projects/Fs.Blazor.Service/obj
/Projects/Fs.Blazor.Service/Fs.Blazor.Service.csproj.user
/Projects/Fs.Service/bin/Debug/netcoreapp3.1
/Projects/Fs.Service/obj/Debug/netcoreapp3.1
/Projects/Fs.Service/obj
/Projects/Fs.Models/bin/Debug/netstandard2.1
/Projects/Fs.Models/obj
