################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Projects/.vs/Fs.NetCore/v16
/Projects/Fs.Business/bin/Debug/netcoreapp3.1
/Projects/Fs.Business/obj
/Projects/Fs.Core/bin/Debug/netcoreapp3.1
/Projects/Fs.Core/obj
/Projects/Fs.Data/bin/Debug/netcoreapp3.1
/Projects/Fs.Data/obj
/Projects/.vs/Fs.NetCore/DesignTimeBuild
/Projects/Fs.Angular.Is4/.config/dotnet-tools.json
/Projects/Fs.Angular.Is4/ClientApp/.editorconfig
/Projects/Fs.Business/bin/Release/netcoreapp3.1
/Projects/Fs.Core/bin/Release/netcoreapp3.1
/Projects/Fs.Data/bin/Release/netcoreapp3.1
/Projects/Fs.Api/bin
/Projects/Fs.Api/logs
/Projects/Fs.Api/obj
/Projects/Fs.Console.Client/bin/Debug/netcoreapp3.0
/Projects/Fs.Console.Client/obj
