
@inject NavigationManager NavManager
@inject ApplicationStateProvider StateProvider

@code {
    [Parameter]
    public InitialApplicationState InitialState { get; set; }

    protected override Task OnInitializedAsync()
    {
        StateProvider.AccessToken = InitialState.AccessToken;
        StateProvider.RefreshToken = InitialState.RefreshToken;
        StateProvider.Expiration = InitialState.Expiration;
        StateProvider.IdentityCookie = InitialState.IdentityCookie;
        StateProvider.ProviderIndex = InitialState.ProviderIndex;

        return base.OnInitializedAsync();
    }
}
<Router AppAssembly="@typeof(Program).Assembly">
    <Found Context="routeData">
        <AuthorizeRouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)">
            <NotAuthorized>
                @{ 
                    Fs.Data.Models.AppContext appContext = Fs.Data.Models.AppContext.Instance;
                    Fs.Data.Models.SchemeContext schemeContext = appContext.AuthSchemes[StateProvider.ProviderIndex];

                    NavManager.NavigateTo($"{schemeContext.SignOutUri}?returnUrl={Uri.EscapeDataString(NavManager.Uri)}", true);
                }
            </NotAuthorized>
            <Authorizing>
                <h1>Authentication in progress</h1>
                <p>Only visible while authentication is in progress.</p>
            </Authorizing>
        </AuthorizeRouteView>
    </Found>
    <NotFound>
        <CascadingAuthenticationState>
            <LayoutView Layout="@typeof(MainLayout)">
                <p>Sorry, there's nothing at this address.</p>
            </LayoutView>
        </CascadingAuthenticationState>
    </NotFound>
</Router>
